.VedioFrame{
    background: white;
    border-radius: 20px;
    height: auto;
    margin: 10px;
    overflow: hidden;
}
.VedioFrame video{
    width: 100%;
    height: auto;
}

.mic{
  
    position: absolute;
    bottom: 39px;
    background: white;
    height: 25px;
    width: 28px;
    font-size: 20px;
    padding: 6px;
    text-align: center;
    border-radius: 50%;

}