.main-updateprofile{
    margin: 17px;
    background-color: white;
    padding: 13px;
    border-radius: 11px;
}

.updateprofile-head{
    font-weight: bolder;
    padding-top: -5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cecece;
    padding-left: 12px;
    font-style: oblique;
}

.main-creatpost{
    background-color: white;
    margin: 18px;
    border-radius: 14px;
}

/* > 576 px */
@media only screen and (max-width: 576px){
   
    
    
}

/* > 576 px */
@media only screen and (min-width: 576px){
   
   
   
   
}
/* > 768 px */
@media only screen and (min-width: 768px){
    
  
   
}

/* > 992 px */
@media only screen and (min-width: 992px){
  
    .main-updateprofile{
        margin-left: 0px;
     }
     .main-creatpost{
        margin-left: 0px;
    }
}
/* > 1200 px */
@media only screen and (min-width: 1200px){
   
    .main-updateprofile{
        margin-left: 0px;
     }
    .main-creatpost{
        margin-left: 0px;
    }
      
}
/* > 1400 px */
@media only screen and (min-width: 1400px){
   
    .main-updateprofile{
        margin-left: 0px;
     }
     .main-creatpost{
        margin-left: 0px;
    }
      
}