

.main-message{
    /* height: 600px; */
    border-radius: 21px;
    background-color: white;
    margin-left: 15px;
    margin-right: 20px;
    /* background-image: linear-gradient(45deg, #9faf99, #792410, #f7797d),url('../../images/logo-college-removebg-preview.png');
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-position: center; */
    margin-top: 17px;
}



.main-message ul{
    list-style: none;
    padding-left: 21px;
}



.messageinput {
        width: calc(100% - 47px);
    margin-right: 0px !important;
    border-bottom-right-radius: 0px
}
.messageinput input{
     border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;

}
.messagebtnn {
        margin-right: 0px !important;
}
.messagebtnn button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
 }
.message-div{
    margin-top: 18px;
    margin-right: 15px;
    border-radius: 10px;
    background: white;
}
.message-container-1{
    /* background: #2c4256; */
    background-image: linear-gradient(45deg, #ffffff, #fbd786, #f7797d);
    margin: 15px;
    border-radius: 11px;
    height: 646px;
    margin-right: 23px;
    margin-left: 23px;

}
.span-text{
    float: left;
    margin-top: -12px
}
.mobile-online-users{
    margin: 9px;
    margin-right: 22px;
    margin-left: 19px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
    overflow-x: auto;
    background-color: white;
}

.image-div{
    border-radius: 50%;
    height: 21px;
    padding-top: 4px;
    margin-left: 31px
}
.messagedivList{
    overflow-y: auto;
    /* height:600px; */
    height: calc(100vh - 250px);
}
.message-user-image{
    border-radius: 50%;
    height: 40px;
    width: 43px;
    margin-top: 8px;
    margin-right: 14px;
    float: left;
}

.message-online-label{
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid white;
    /* left: 46px; */
    top: 25px;
}

.mobile-active-user-img{
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.mobile-label-main{
    position: relative;
}

.online-mobile-label{
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid white;
    left: 0px;
}

.text-message{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    
    
}
.message-left-div{
    background: #2c4358;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    margin-right: 32px;
    color: white;
    border-bottom-right-radius: 8px;
}
.message-right-div{
    background: #c5acac;
    margin-left: 32px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    border-bottom-left-radius: 8px;
}
.message-right{
    flex-direction: row-reverse;
    
    
}

.message-time{
    font-size: smaller;
    color: #3c3e40;
}
.message-time-right{
    float: right;
}
/* > 576 px */
@media only screen and (max-width: 576px){
    .message-container-1{
        display: none;
    }
    .message-div{
        display: none;
      
    }
    .message-span-text{
        display: block;
    }

    .mobile-online-users{
        display: flex;
    }
   
 }

/* > 576 px */
@media only screen and (min-width: 576px){
    .message-container-1{
        display: none;
    }
    .message-div{
        display: none;
      
    }
    .message-span-text{
        display: block;
    }
    .mobile-online-users{
        display: flex;
    }
    
 }
 /* > 768 px */
 @media only screen and (min-width: 768px){
    .message-container-1{
        display: none;
        
    }
    .message-div{
        display: block;
        margin-left:17px;
      
    }
    .message-span-text{
        display: block;
    }

    .mobile-online-users{
        display: none;
    }
    
   .main-message{
    margin-left: 0;
  }

 }
 /* > 992 px */
 @media only screen and (min-width: 992px){
    .message-container-1{
        display:block;
        
    }
    .message-div{
        display: block;
        margin-left:0px;
       }
       .mobile-online-users{
        display: none;
    }
    .main-message{
        margin-left: 0;
      }
 }
 /* > 1200 px */
 @media only screen and (min-width: 1200px){
    .message-container-1{
        display: none;
        
    }
    .message-div{
        display: block;
       }
     
       .mobile-online-users{
        display: none;
    } 

    .main-message{
        margin-left: 0;
      }
 }
 /* > 1400 px */
 @media only screen and (min-width: 1400px){
    .message-container-1{
        display: block;
    }
    .message-div{
        display: block;
        margin-left:0px;
       }
       .mobile-online-users{
        display: none;
    }
    .main-message{
        margin-left: 0;
      }
       
 }