
.main-profileimg{
    margin-top: 16px;
    width: 99%;
    height: 100%;
   
}

.profile-div{
    position: relative;
}

/* .user-box{
    background-color: #ffffff;
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 15px;
    width: 100%;
    position: absolute;
    left: 40px;
    top: 166px;
    width: 193px;
    height: 219px;
} */

.profile-head{
    padding-top: 21px;
    padding-bottom: 18px;
    border-bottom: 1px solid #cecece;
    padding-left: 12px;
    font-style: oblique;
    font-weight: 900;
}

.profil-post-head{
    padding-top: 21px;
    padding-bottom: 18px;
    border-bottom: 1px solid #cecece;
    padding-left: 12px;
    background-color: white;
    font-style: oblique;
    font-weight: 900;
}

.profile-about{
    margin: 15px;
    border-radius: 10px;
    background: white;
}
.profile-user-image{
    border-radius: 50%;
    height: 68px;
    width: 71px;
    margin-top: 12px;
    margin-right: 14px;
    position: absolute;
    right: 65px;
    top: 2px;
}
/* .button-users{
    float: right;
    position: relative;
    top: -47px;
    right: 25px;
} */

.button-profile{
    margin-top: 13px;
}

.text-div{
   line-height: 23px;
    text-align: center;
}

.cover-button{
    position: absolute;
    right: -1000px;
    top: 241px;
}

.edit-button{
    height: 40px;
    width: 111%;
    background: white;
    color: #0e7cc9;
}

.profil-post{
    margin: 15px;
}

.profile-user-IMG{
    width: 88px;
    height: 88px;
    border-radius: 50px;

}
.sub-profile-div{
    text-align: center;
    width: 215px;
    height: 241px;
    top: 55px;
    left: 49px;
    background: #e3ecf3;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    padding-top: 17px;
    padding-bottom: 17px;
}
/* > 576 px */
@media only screen and (max-width: 576px){
   
    
    
 }

/* > 576 px */
@media only screen and (min-width: 576px){
    
    
    
    
 }
 /* > 768 px */
 @media only screen and (min-width: 768px){
    
    
   
    
 }
 /* > 992 px */
 @media only screen and (min-width: 992px){
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
     
 }
 /* > 1200 px */
 @media only screen and (min-width: 1200px){
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
     
       
 }
 /* > 1400 px */
 @media only screen and (min-width: 1400px){
    
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
     
       
 }