
.main-profileimg{
    margin-top: 16px;
    width: 99%;
    height: 100%;
   
}

.profile-div{
    position: relative;
    width: 100%;
    height: 400px;
}

/* .user-box{
    background-color: #ffffff;
    border-radius: 5px;
    transform: translateY(-50%);
    padding: 15px;
    width: 100%;
    position: absolute;
    left: 40px;
    top: 166px;
    width: 193px;
    height: 219px;
} */

.profile-head{
    padding-top: 21px;
    padding-bottom: 18px;
    border-bottom: 1px solid #cecece;
    padding-left: 12px;
    font-style: oblique;
    font-weight: 900;
}

.profil-post-head{
    padding-top: 21px;
    padding-bottom: 18px;
    border-bottom: 1px solid #cecece;
    padding-left: 12px;
    background-color: white;
    font-style: oblique;
    font-weight: 900;
}

.profile-about{
    margin: 15px;
    border-radius: 10px;
    background: white;
}
.profile-user-image{
    border-radius: 50%;
    height: 68px;
    width: 71px;
    margin-top: 12px;
    margin-right: 14px;
    position: absolute;
    right: 65px;
    top: 2px;
}
/* .button-users{
    float: right;
    position: relative;
    top: -47px;
    right: 25px;
} */

.button-profile{
    margin-top: 13px;
}

.text-div{
   line-height: 23px;
    text-align: center;
}

.cover-button{
    position: absolute;
    right: -1000px;
    top: 241px;
}

.edit-button{
    height: 40px;
    width: 111%;
    background: white;
    color: #0e7cc9;
}

.profil-post{
    margin: 15px;
}

.profile-user-IMG{
    width: 88px;
    height: 88px;
    border-radius: 50px;

}
.sub-profile-div{
    text-align: center;
    width: 215px;
    height: 241px;
    top: 55px;
    left: 49px;
    background: #e3ecf3;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    padding-top: 17px;
    padding-bottom: 17px;

}
.sub-profile-div:hover{
transform: scale(1.05,1.05);
}

.userprofile-udatecover-icon{
    position: relative;
    bottom: 75px;
    left: 86%;
    background-color: #e3ecf3;
    width: 18px;
    height: 16px;
    padding: 10px;
    border-radius: 50%;
    
}
.mobile-view{

}
.mobile-text-div{
    margin-left: 51px;
    margin-top: -18px;
}
.mobile-userprofile-udatecover-icon{
    position: relative;
    left: 140px;
    top: 135px;
    padding: 3px;
    /* width: 139px; */
    margin-left: 39px

}
.camera-icon-profileuser{
    position: relative;
    top: -41px;
    right: 16px;
    border-radius: 50%;
    background: white;
    border: 3px solid white;
}
.desktop-camera-icon-profileuser{
    position: relative;
    bottom: 25px;
    right: 13px;
    border-radius: 50%;
    background: white;
    border: 3px solid white;
}

.mobile-view-profile-user-IMG{
    /* height: 100px;
    width: 92px;
    margin-top: -73px;
    margin-left: 24px;
    height: 88px;
    border-radius: 50px;
    position: relative;
    top: -25px;
    left: 17px;
    background-color: white;
    border: 5px solid white; */
    height: 100px;
    width: 92px;
    margin-top: -65px;
    margin-bottom: 20px;
    margin-left: 24px;
    height: 88px;
    border-radius: 50px;
    /* position: relative; */
    top: -25px;
    left: 17px;
    background-color: white;
    border: 5px solid white;
}

.mobile-maincover-profileimg{
    margin-top: -3px ;
    width: 99%;
    height: 100%;
}
.mobile-profilecover-changeicon{
    position: relative;
    bottom: 56px;
    left: 80%;
    background-color: #e3ecf3;
    width: 12px;
    height: 10px;
    padding: 10px;
    border-radius: 50%;
}



/* > 576 px */
@media only screen and (max-width: 576px){
    .mobile-view{
    display: block;
}
.profile-div{
    display: none;
 }
    
 }

/* > 576 px */
@media only screen and (min-width: 576px){
    .mobile-view{
        display: block;
    }
    .profile-div{
        display: none;
     }
     .profile-div{
        display: none;
     }
    
 }
 /* > 768 px */
 @media only screen and (min-width: 768px){
    .mobile-view{
        display: none;
 }
 .profile-div{
    display: none;
 }
 .profile-div{
    display: block;
 }
}
 /* > 992 px */
 @media only screen and (min-width: 992px){
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
    .mobile-view{
        display: none;
 }
 .profile-div{
    display: block;
 }
     
 }
 /* > 1200 px */
 @media only screen and (min-width: 1200px){
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
    .mobile-view{
        display: none;
 }
 .profile-div{
    display: block;
 }
       
 }
 /* > 1400 px */
 @media only screen and (min-width: 1400px){
    
    .profile-about{
        margin-left: 0px;
    }
    .profil-post {
        margin-left: 0;
    }
    .mobile-view{
        display: none;
 }
 .profile-div{
    display: block;
 }
 }