
.mean-header{
    /* background-color: #2f3e4d; */
    background-image: linear-gradient(45deg, #ffffff, #fbd786, #f7797d);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1000;
      
}

.img-fluid{
    margin-top: 11px;
    margin-left: 24px;
}

.header-home-icons{
         color: white;
         margin-bottom: 16px;
         margin-left: 3px;
         font-size: 17px;
         margin-top: 24px
}
.header-online-label{
    width: 10px;
    height: 10px;
    background: green;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    border: 2px solid white;
    /* left: 47px; */
    bottom: 45px; 
}
.user-image{
    border-radius: 50%;
    height: 40px;
    width: 43px;
    margin-top: 12px;
    margin-right: 14px;
}

.col2-header{
    float: right;
    /* position: relative; */
}

.message-icon{
    margin-right: 35px;
    margin-left: -94px;
    color: white;
    font-size: 20px;
    margin-bottom: 9px;
}
.header{
    display: inline-flex;
}

.bell-icon{
    margin-right: 47px;
    margin-left: -11px;
    color: white;
    font-size: 20px;
    margin-bottom: 9px;
}

.header-span-text{
    float: right;
    margin-top: 13px;
    margin-left: 13px;
    margin-right: 20px;
}

/* < 445px */
@media only screen and (max-width: 445px){
    .header-online-label{
        width: 10px;
        height: 10px;
        background: green;
        position: absolute;
        border-radius: 50%;
        z-index: 1;
        border: 2px solid white;
        left: -1px;
        bottom: 47px;
    }
 
 }

/* < 428 px */
@media only screen and (max-width: 428px){
   .bell-icon{
    visibility: hidden;
   }
   .user-image {
    margin-top: -15px;
 }
    .message-icon{
        visibility: hidden;
    }

}

/* < 576 px */
@media only screen and (max-width: 576px){
    .header-span-text{
        display:none;
    }
    .header-input{
        display:none;
    }
    .header-home-icons{
        display:none;
    }

    .message-icon{
        visibility: hidden;
    }

}
/* > 576 px */
@media only screen and (min-width: 576px){
    .header-span-text{
        display:none;
    }
    .header-input{
        display:none;
    }
    .header-home-icons{
        display:none;
    }
    .message-icon{
        visibility: hidden;
    }
}
/* > 768 px */
@media only screen and (min-width: 768px){

    .header-span-text{
        display:none;
    }
    .header-input{
        display:none;
    }
    .header-home-icons{
        display:none;
    }
    .message-icon{
        visibility: hidden;
    }
}
/* > 992 px */
@media only screen and (min-width: 992px){
    .header-span-text{
        display:block;
    }

    .header-input{
        display:block;
    }

    .header-home-icons{
        display:block;
    }

    .message-icon{
        visibility: visible;
    }
}
/* > 1200 px */
@media only screen and (min-width: 1200px){
    .header-span-text{
        display:block;
    }

    .header-input{
        display:block;
    }

    .header-home-icons{
        display:block;
    }

    .message-icon{
        visibility: visible;
    }
}
/* > 1400 px */
@media only screen and (min-width: 1400px){
    .header-span-text{
        display:block;
    }

    .header-input{
        display:block;
    }

    .header-home-icons{
        display:block;
    }

    .message-icon{
        visibility: visible;
    }
}